---
http_interactions:
- request:
    method: get
    uri: https://sync-api.beatroot.com/accounts/beatroot-records/tracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=aa140833-6a6e-4304-bf3f-833cb963bdc5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"tracks":[{"id":2,"title":"Sweet Lorraine","full_title":"Sweet Lorraine
        (live at the O2)","subtitle":"live at the O2","mix_version":null,"searchable":true,"recording_token":null,"recording_file_name":null,"recording_custom_file_name":null,"bit_rate":null,"channels":null,"sample_rate":null,"codec":null,"duration":202,"created_at":"2018-06-27T18:57:14.169Z","updated_at":"2018-06-27T19:21:55.720Z","waveform":null,"sentiment":"neutral","musical_work_type":"track","inherit_parent_track_data":true,"playlists_count":0,"releases_count":1,"preview_start":null,"preview_duration":null,"url_token":"1a58ce9b-376b-4efe-ae7c-bb83f34f1590","key":"
        ","bpm":0,"intensity":0,"artist":{"id":8,"writer":false,"name":"Tony Crombie
        feat. Robert Robertson","key_name":null,"image_token":null,"image_colours":null,"tracks_count":1,"searchable":true,"created_at":"2018-06-27T19:01:21.004Z","updated_at":"2018-06-27T19:22:36.259Z","image_crop_x":0,"image_crop_y":0,"image_crop_width":0},"web_transcoding":null,"parent_track":null,"transcodings":[],"tag":{"id":1124,"primary":true,"score":100,"name":"Dance","classification":"genre"},"key_release":null,"variations":[]},{"id":8,"title":"Fuego","full_title":"Fuego","subtitle":null,"mix_version":null,"searchable":true,"recording_token":"3c49894a-32de-4bf7-9c03-8e9ab4da1d37","recording_file_name":"c4b3f1ba-03e6-4bff-af3d-2ad9648a1c56","recording_custom_file_name":null,"bit_rate":96,"channels":2,"sample_rate":44100,"codec":"mp3","duration":30,"created_at":"2018-06-27T19:45:47.462Z","updated_at":"2018-06-28T10:07:06.152Z","waveform":[96,100,94,94,96,71,71,81,100,78,92,79,56,100,93,95,89,100,99,100,99,99,99,96,99[...]
[...]
